html, body {
  max-width: 100%;
	margin: 0px;
	padding: 0px;

  color: #565555;
  font-family: 'Open Sans', sans-serif;
}/*force no horizontal scroll*/ 

.symbol{
  width: 2em;
  height: 2em;

  background: transparent url(images/title.png) no-repeat center;
  background-size: 2em 2em;
}

.blend-multiply { background-blend-mode: multiply; }

.top-50 { top: 50% }
